<div class="container text-center mt-3 mb-3 col-md8">
    <form class =" card bg-light ml-3 mr-3" action="/movie/add" method="post">
    <h1 class="text text-primary mt-2 mb-2"> Edit new movie</h1>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Title</label>
            <input class="form-control" type="text" name = "title" required value="{{movie.title}}" minlength="3" maxlength=" 100">
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Year</label>
            <input class="form-control" type="number" name="year" required value="{{movie.year}}" minlength="1970" maxlength="2023">
        </div>
        <div class="form-group mt-2 mb-2">
            <label  class="fw-bold"for="">Director</label>
            <input  class="form-control" type="text" name = "director" required value="{{movie.director}}" minlength="3" maxlength=" 100">
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Actor</label>
            <input class="form-control" type="text" name = "actor" required value="{{movie.actor}}" minlength="3" maxlength=" 100">
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Poster</label>
            <img src="{{movie.poster}}" width="200" height="250">
            <input class="form-control" type="text" name = "poster" value="{{movie.poster}}" required>
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Trailer</label>
             <iframe src="https://www.youtube.com/embed/{{ movie.trailer }}" 
         width="300" height="200"></iframe>
            <input class="form-control" type="text" name = "trailer" value="{{ movie.trailer}}" required>
        </div>
        <div class="form-group mt-2 mb-2">
            <input class="btn btn-secondary" type="submit" value="Edit">
        </div>
    </form>
</div>